@model System.Collections.ObjectModel.Collection<Library.Models.Teams>
@{
    ViewBag.Title = "Výpis týmů";
}

<h2>Výpis týmů</h2>

<table class="table">
    <thead>
        <tr>
            <th>Název</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@Html.ActionLink("Detail","Detail","Teams", new { id = item.Id }, null)</td>
        </tr>
    }
</table>